{% extends 'cyber/base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% block css %}

section.hero {
background-image:linear-gradient(#00000075, #00000075),
linear-gradient(#00000075, #00000075),
url('{% static "security/img/web/bg4.jpg" %}');
}

.schedule-book{
background-image:linear-gradient(#00000075, #00000075),
linear-gradient(#00000075, #00000075),
url('{% static "security/img/web/bg2.webp" %}');
/* height: 100vh; */
background-repeat: no-repeat;
background-size: cover;
}
{% endblock %}

{% block body %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero" data-aos="fade-in" data-aos-delay="100">
  <div class="container">
    <div class="para">
      <h4>Stop</h4>
      <h1>Cyberbulling ...</h1>
      <p>Here Everything You Need to Know</p>
      <h3>S.O.D. Safety Training</h3>
    </div>

  </div>

</section>
<!-- End Hero Section -->

<main>
  <!-- ======= About Section ======= -->
  <section class="about" id="about">
    <div class="container">
      <div class="section-header" data-aos="fade-up">
        <h2>About <span>Us</span></h2>
        <p>We envision a secure and resilient logistics industry where companies can operate confidently without the
          threat of cyberattacks. Our team comprises experienced professionals with diverse backgrounds in cybersecurity
          and logistics, dedicated to providing unparalleled support and expertise.</p>
      </div>
      <div class="content">
        <div class="para" data-aos="fade-right" data-aos-delay="100">
          <p>Securing the logistics industry against cyber threats is paramount in today's digital age. With the
            increasing reliance on technology for managing supply chains, logistics companies face unique cybersecurity
            challenges that demand robust defenses.</p>
          <p>One major concern is the potential for cyberattacks to disrupt critical operations, leading to delays in
            shipments, loss of sensitive data, and even financial damages. As logistics companies rely on interconnected
            systems and data exchanges, they become vulnerable to various cyber threats such as ransomware, data
            breaches, and supply chain attacks.</p>

          <div class="mt-3"><button type="button" class="get-btn" data-bs-toggle="modal"
              data-bs-target="#scheduleModal">Book a Schedule</button></div>

        </div>
        <div class="image" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static 'security/img/web/bg1.png' %}" alt="">

        </div>
      </div>
    </div>
  </section>
  <!-- =======End About Section ======= -->

  <!-- ======= Team Section ======= -->
  <section class="team" id="team">
    <div class="container" data-aos="fade-up">
      <div class="row align-items-center">
        <div class="col-lg-3 pb-30">
          <div class="section-title section-header section-title-left section-title-second-dark" data-aos="fade-up" data-aos-delay="100">
            <h2>Our Team</h2>
            <p>Our team of experienced cybersecurity professionals, industry analysts, and technology experts is
              dedicated to protecting the logistics industry. We provide innovative solutions, conduct thorough
              research, and offer exceptional support. Our commitment to continuous improvement ensures we stay ahead of
              emerging threats, securing your logistics operations effectively.</p>
          </div>
        </div>
        <div class="col-lg-9 pb-30">
          <div class="testimonial-carousel-2 owl-carousel">

            <div class="item" data-aos="fade-in" data-aos-delay="100">
              <div class="testimonial-flat-card">
                <div class="testimonial-flat-thumb testimonial-flat-thumb-frame-2">
                  <img src="{% static 'security/img/team/1.jpg' %}" alt="testimonial">
                </div>
                <div class="testimonial-flat-content testimonial-content-white">
                  <h3 class="testimonial-name">Margaret Lee</h3>
                  <p class="testimonial-designation">Chief Information Security Officer</p>
                  <p class="testimonial-para">"LMargaret spearheads cybersecurity strategies at Quick Soft, ensuring robust protection of logistics operations against cyber threats."</p>
                </div>
              </div>
            </div>

            <div class="item" data-aos="fade-in" data-aos-delay="400">
              <div class="testimonial-flat-card">
                <div class="testimonial-flat-thumb testimonial-flat-thumb-frame-2">
                  <img src="{% static 'security/img/team/2.jpg' %}" alt="testimonial">
                </div>
                <div class="testimonial-flat-content testimonial-content-white">
                  <h3 class="testimonial-name">Richard William</h3>
                  <p class="testimonial-designation">Cybersecurity Analyst at Soft Tech</p>
                  <p class="testimonial-para">"Richard analyzes and mitigates cyber risks, implementing security measures to safeguard Soft Tech's logistics network."</p>
                </div>
              </div>
            </div>

            <div class="item" data-aos="fade-in" data-aos-delay="800">
              <div class="testimonial-flat-card">
                <div class="testimonial-flat-thumb testimonial-flat-thumb-frame-2">
                  <img src="{% static 'security/img/team/3.jpg' %}" alt="testimonial">
                </div>
                <div class="testimonial-flat-content testimonial-content-white">
                  <h3 class="testimonial-name">Jenelia Annie</h3>
                  <p class="testimonial-designation">Chief Technology Officer</p>
                  <p class="testimonial-para">"Jenelia drives technological innovation at Cyber Tech, focusing on advanced cybersecurity solutions for the logistics industry."</p>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-flat-card">
                <div class="testimonial-flat-thumb testimonial-flat-thumb-frame-2">
                  <img src="{% static 'security/img/team/4.jpg' %}" alt="testimonial">
                </div>
                <div class="testimonial-flat-content">
                  <h3 class="testimonial-name">Vicky Robert</h3>
                  <p class="testimonial-designation">Head of Cybersecurity Operations</p>
                  <p class="testimonial-para">"Manages cybersecurity operations, implements security measures, and oversees incident response."</p>
                </div>
              </div>
            </div>

          </div>
          <div class="testimonial-carousel-2-controller default-carousel-control default-carousel-control-secondary">
            <button class="carousel-arrow carousel-prev-arrow"><i class="bi bi-arrow-left"></i></button>
            <button class="carousel-arrow carousel-next-arrow"><i class="bi bi-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= End Team Section ======= -->

  <!-- ======= Service Section ======= -->
  <section class="service" id="service">
    <div class="container">
      <div class="section-header" data-aos="fade-up">
        <h2>Services</h2>
        <p>We envision a secure and resilient logistics industry where companies can operate confidently without the
          threat of cyberattacks. Our team comprises experienced professionals with diverse backgrounds in cybersecurity
          and logistics, dedicated to providing unparalleled support and expertise.</p>
      </div>

      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="100">
              <div class="h-100 p-4 p-xl-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                    <img class="img-fluid" src="{% static 'security/img/icon-3.png' %}" alt="Icon">
                  </div>
                </div>
                <h5>Home Security</h5>
                <hr class="w-25">
                <span>Affordable home security includes smart doorbells, motion sensor lights, and basic security
                  cameras. These budget-friendly options provide real-time alerts and deter intruders
                  effectively.</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="400">
              <div class="h-100 p-4 p-xl-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                    <img class="img-fluid" src="{% static 'security/img/icon-4.png' %}" alt="Icon">
                  </div>
                </div>
                <h5>Access Control</h5>
                <hr class="w-25">
                <span>Access control systems manage and restrict entry to buildings, enhancing security. They use
                  keycards, biometrics, or PINs to ensure only authorized individuals gain access.</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-in" data-aos-delay="800">
              <div class="h-100 p-4 p-xl-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                  <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                    <img class="img-fluid" src="{% static 'security/img/icon-2.png' %}" alt="Icon">
                  </div>
                </div>
                <h5>24/7 Support</h5>
                <hr class="w-25">
                <span>Our 24/7 support ensures you always have access to expert assistance, anytime you need it. We're
                  here to help with any security issues, providing peace of mind around the clock.</span>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- ======= End Service Section ======= -->

  <!-- ======= Contact Section ======= -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="section-header" data-aos="fade-up">
        <h2>Get In <span>Touch</span></h2>
        <p>We are here to help you navigate the complex landscape of cybersecurity in logistics. Whether you need
          assistance with threat detection, employee training, or implementing advanced security technologies, our team
          is ready to support you.</p>
      </div>
      <div class="row info">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="details">

            <div class="location" data-aos="fade-in" data-aos-delay="100">
              <div class="icon">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
              </div>
              <div class="address">
                <h3>S.O.D. Safety Training</h3>
                <p>Maltepe, İstinye Üniversitesi Topkapı Kampüsü, Teyyareci Sami Sk. No.3, 34010 Zeytinburnu/İstanbul
                </p>
              </div>
            </div>

            <div class="talk location" data-aos="fade-in" data-aos-delay="400">
              <div class="icon">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="phone address">
                <h3>Lets Talk</h3>
                <p>0545 999 89 89</p>
              </div>
            </div>

            <div class="support location" data-aos="fade-in" data-aos-delay="800">
              <div class="icon">
                <i class="bi bi-envelope flex-shrink-0"></i>
              </div>
              <div class="email address">
                <h3>General Support</h3>
                <p>teomanorcan13@gmail.com</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-8" data-aos="fade-left" data-aos-delay="120">
          <form action="{% url 'contact' %}" method="post" role="form" class="email-form">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter Your Address"
                required>
            </div>
            <div class="row mt-3">
              <div class="col-md-6 form-group">
                <input type="tel" name="contact" class="form-control" id="Contact" placeholder="Enter Your Number"
                  required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email"
                  required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">

            </div>
            <div class="text-center mt-3"><button type="submit" class="get-btn">Send Message</button></div>
          </form>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= End Contact Section ======= -->

  <!-- Modal -->
  <div class="modal fade schedule-book" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel"
    aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="scheduleModalLabel">Book an Appoinment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'schedule' %}" method="post" role="form" class="email-form">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter Your Address"
                required>
            </div>
            <div class="row mt-3">
              <div class="col-md-6 form-group">
                <input type="tel" name="contact" class="form-control" id="Contact" placeholder="Enter Your Number"
                  required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email"
                  required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">

            </div>
            <div class="text-center mt-3"><button type="submit" class="get-btn">Book Appoinment</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}