{% extends 'cyber/base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% block css %}
section.hero {
background-image:linear-gradient(#00000075, #00000075),
linear-gradient(#00000075, #00000075),
url('{% static "security/img/web/bg4.jpg" %}');
}

.schedule-book{
  background-image:linear-gradient(#00000075, #00000075),
  linear-gradient(#00000075, #00000075),
  url('{% static "security/img/web/bg2.webp" %}');
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
}
{% endblock %}

{% block body %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero" data-aos="fade-in" data-aos-delay="100">
  <div class="container">
    <div class="para">
      <h4>Stop</h4>
      <h1>Cyberbulling ...</h1>
      <p>Here Everything You Need to Know</p>
      <h3>S.O.D. Safety Training</h3>
    </div>

  </div>

</section>
<!-- End Hero Section -->

<main>
  <!-- ======= About Section ======= -->
  <section class="about" id="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About <span>Us</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo corporis nam cupiditate asperiores quas dolore
          est mollitia quos nobis cum?</p>
      </div>
      <div class="content" data-aos="fade-up" data-aos-delay="100">
        <div class="para">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sit ipsam impedit laudantium nostrum?
            Distinctio porro autem sunt laboriosam quisquam deserunt dolores id temporibus, nulla quam suscipit aliquid
            unde incidunt perspiciatis aut possimus voluptatibus esse nisi ipsa earum quod animi? Sed, unde obcaecati
            vero
            eligendi aliquam beatae porro libero nihil similique tempora, temporibus ratione autem esse illo. Similique
            reiciendis numquam, quidem officiis exercitationem magni illum dolor, nam labore necessitatibus at?</p>

          <div class="mt-3"><button type="button" class="get-btn" data-bs-toggle="modal"
              data-bs-target="#scheduleModal">Book a Schedule</button></div>

        </div>
        <div class="image">
          <img src="{% static 'security/img/web/bg1.png' %}" alt="">

        </div>
      </div>
    </div>
  </section>
  <!-- =======End About Section ======= -->

  <!-- ======= Contact Section ======= -->
  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Get In <span>Touch</span></h2>
        <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis
          omnis
          tiledo stran delop</p>
      </div>
      <div class="row info">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="details">

            <div class="location">
              <div class="icon">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
              </div>
              <div class="address">
                <h3>S.O.D. Safety Training</h3>
                <p>500 Terry Francies Street San Francisco, CA 94158</p>
              </div>
            </div>

            <div class="talk location">
              <div class="icon">
                <i class="bi bi-telephone"></i>
              </div>
              <div class="phone address">
                <h3>Lets Talk</h3>
                <p>123-456-789</p>
              </div>
            </div>

            <div class="support location">
              <div class="icon">
                <i class="bi bi-envelope flex-shrink-0"></i>
              </div>
              <div class="email address">
                <h3>General Support</h3>
                <p>info@mysite.com</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-8 ">
          <form action="{% url 'contact' %}" method="post" role="form" class="email-form">{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="address" id="address" placeholder="Enter Your Address"
                required>
            </div>
            <div class="row mt-3">
              <div class="col-md-6 form-group">
                <input type="tel" name="contact" class="form-control" id="Contact" placeholder="Enter Your Number"
                  required>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email"
                  required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">

            </div>
            <div class="text-center mt-3"><button type="submit" class="get-btn">Send Message</button></div>
          </form>
        </div>
      </div>

    </div>
  </section>
  <!-- ======= End Contact Section ======= -->

   <!-- Modal -->
   <div class="modal fade schedule-book" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel"
   aria-hidden="true" style="z-index: 10000;">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="scheduleModalLabel">Book an Appoinment</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form action="{% url 'schedule' %}" method="post" role="form" class="email-form">{% csrf_token %}
           <div class="form-group">
             <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name" required>
           </div>
           <div class="form-group mt-3">
             <input type="text" class="form-control" name="address" id="address" placeholder="Enter Your Address"
               required>
           </div>
           <div class="row mt-3">
             <div class="col-md-6 form-group">
               <input type="tel" name="contact" class="form-control" id="Contact" placeholder="Enter Your Number"
                 required>
             </div>
             <div class="col-md-6 form-group">
               <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email"
                 required>
             </div>
           </div>
           <div class="form-group mt-3">
             <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
           </div>
           <div class="form-group mt-3">
             <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
           </div>
           <div class="my-3">

           </div>
           <div class="text-center mt-3"><button type="submit" class="get-btn">Send Message</button></div>
         </form>
       </div>
     </div>
   </div>
 </div>

</main>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}